interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://accounts.google.com/.well-known/openid-configuration
  response:
    body:
      string: "{\n \"issuer\": \"https://accounts.google.com\",\n \"authorization_endpoint\":
        \"https://accounts.google.com/o/oauth2/v2/auth\",\n \"device_authorization_endpoint\":
        \"https://oauth2.googleapis.com/device/code\",\n \"token_endpoint\": \"https://oauth2.googleapis.com/token\",\n
        \"userinfo_endpoint\": \"https://openidconnect.googleapis.com/v1/userinfo\",\n
        \"revocation_endpoint\": \"https://oauth2.googleapis.com/revoke\",\n \"jwks_uri\":
        \"https://www.googleapis.com/oauth2/v3/certs\",\n \"response_types_supported\":
        [\n  \"code\",\n  \"token\",\n  \"id_token\",\n  \"code token\",\n  \"code
        id_token\",\n  \"token id_token\",\n  \"code token id_token\",\n  \"none\"\n
        ],\n \"response_modes_supported\": [\n  \"query\",\n  \"fragment\",\n  \"form_post\"\n
        ],\n \"subject_types_supported\": [\n  \"public\"\n ],\n \"id_token_signing_alg_values_supported\":
        [\n  \"RS256\"\n ],\n \"scopes_supported\": [\n  \"openid\",\n  \"email\",\n
        \ \"profile\"\n ],\n \"token_endpoint_auth_methods_supported\": [\n  \"client_secret_post\",\n
        \ \"client_secret_basic\"\n ],\n \"claims_supported\": [\n  \"aud\",\n  \"email\",\n
        \ \"email_verified\",\n  \"exp\",\n  \"family_name\",\n  \"given_name\",\n
        \ \"iat\",\n  \"iss\",\n  \"name\",\n  \"picture\",\n  \"sub\"\n ],\n \"code_challenge_methods_supported\":
        [\n  \"plain\",\n  \"S256\"\n ],\n \"grant_types_supported\": [\n  \"authorization_code\",\n
        \ \"refresh_token\",\n  \"urn:ietf:params:oauth:grant-type:device_code\",\n
        \ \"urn:ietf:params:oauth:grant-type:jwt-bearer\"\n ]\n}\n"
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 27 Aug 2025 21:57:55 GMT
    status:
      code: 200
      message: OK
version: 1
